html {
    background: #000;
    color: #FFF;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    font-family: aller_bold, arial, sans-serif;
    font-weight: lighter;
    color: #222;

    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
}

body {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    flex-pack: center;
    margin: 0px;
}

#tabs { 
    padding: 0px 40px 0px 60px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.tab {  
    display: inline-block;
    padding: 4px 0;
    font-family: aller_bold, arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #666;
    -webkit-transition: color 0.15s linear;
    -moz-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear;
    width: 100%;
}
.tab.selected {
    color: white;
}
.tab:hover {
    color: white;
}

#tabContent {
    text-align: center;
    vertical-align: center;
    border-top: none;
    height: 100%;
}

