html {
    background: #f4f4f4;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: #222;

    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
}

body {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    flex-pack: center;
    margin: 0px;
}

.liveExample {
    height: 700px;
    background-color: #0072C6;
    width: 30%;
}

