<div data-bind="attr: { style: $root.style }">
    <table id="mainTable">
        <tbody>
            <tr>
                <td id="tabHeader">
                    <p id="logo">Shakei   中文</p>
                    <div id="tabs" data-bind="foreach: tabs">    
                        <div class="tab" data-bind="css: {selected: $parent.selectedTab() === id()}, text: name, click: $parent.selectedTab.bind($parent, id())"></div>
                    </div>
                </td>
                <td id="tabBody">
                    <div id="tabContent" data-bind="foreach: tabs">
                        <div  data-bind="if: $parent.selectedTab() === id()">
                            <div data-bind="attr: { 'id': id }">
                                <span data-bind="template: { afterRender: afterRenderHandler }"></span>
                            </div>
                        </div>
                    </div> 
                </td>
            </tr>
        </tbody>
    </table>
</div>